<nav class="our-navbar pink lighten-2">
	<div class="nav-wrapper pink lighten-2 container">
		<a href="/" class="brand-logo center">Place Finder</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger">
			<i class="material-icons">menu</i>
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href="/places/new">Add New Place</a>
			</li>
			<li>
				<a href="/places">All Places</a>
			</li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><a href="/places/new">Add New Place</a></li>
	<li><a class="active" href="/places">All Places</a></li>
</ul>
