<%- include('templates/header.ejs') %> <%- include('./navbar.ejs', { isNewForm }) %>
<div class="new-place">
	<h1>Add New Place</h1>
	<div class="container">
		<div class="row">
			<div class="container">
				<form class="col s12" action="/places" method="POST">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">domain</i>
							<input
								id="place_name"
								type="text"
								class="validate"
								name="place[name]"
								required
							/>
							<label for="job_title">Enter the name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">add_location</i>
							<input
								id="place_location"
								type="text"
								class="validate"
								name="place[location]"
								required
							/>
							<label for="place_location">Enter the location</label>
						</div>
					</div>
					<div class="row">
						<button
							id="place_edit"
							class="btn waves-effect waves-light cyan"
							type="submit"
							name="action"
						>
							Create Place
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('templates/footer.ejs') %>
