  </div>
  <footer class="page-footer pink lighten-2">
    <div class="footer-copyright">
      <div class="container">
      Made with ❤️ in India
      </div>
    </div>
  </footer>  
</body>
</html>