  </div>
  <footer class="page-footer light-blue accent-3">
    <div class="footer-copyright">
      <div class="container">
      Made with ❤️ in India
      </div>
    </div>
  </footer>
  <script src="/script.js"></script>  
</body>
</html>